.address-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font: 1em sans-serif;
    width: 100%;
}

.address-command-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}

.address-img {
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 0.8;    
}
.address-img:hover {
    opacity: 0.7;
}
.address-img:active {
    opacity: 0.5;
}

#name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#addresse-container{
    display: flex;
    align-items: center;
}
#address {
    font-size: small;
    margin-right: 12px;
}

@media screen and (max-width: 600px){
    #address {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    }

}


.address-card {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 100%;
    gap: 10px;
}

.form-labels {
    width: 100%;
    font-size: small;
    color: #9b9b9b;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}