.address-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;

    font: 1em sans-serif;
    min-width: 700px;
}
#address {
    font-size: small;
}

.address-card {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;

    gap: 10px;
}