.address-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font: 1em sans-serif;
    width: 100%;
}

#addresse-container{
    display: flex;
    align-items: center;
}
#addresse-container img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}
#address {
    font-size: small;
}
#addresse-container img:hover {
    opacity: 0.7;
}
#addresse-container img:active {
    opacity: 0.5;
}

.address-card {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 100%;
    gap: 10px;
}

.form-labels {
    width: 100%;
    font-size: small;
    color: #9b9b9b;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}