#gemini-logo {
    width: 22px;
    height: 22px;
}

.ai-chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
}
.ai-chat {
    height: 100%;
    width: auto;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scrollbar-width: none;
    /* Start loading items from the back */
    /* flex-direction: column-reverse; */
}

.welcome-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.welcome-bar img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    animation: big-little infinite 2s;
}


@keyframes big-little {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px){
    .welcome-bar {
        img {
            width: 30px
        } 
        h3 {
            font-size: small;
        }
    }
}

.recieved-message {
    background-color: rgb(230, 230, 230);
    font-weight: 500;
    font-size: small;
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
    align-self: flex-start;
    border-radius: 0 10px 10px 10px;
}

.sent-message {
    background-color: var(--interface-color);
    color: white;
    font-size: small;
    font-weight: 500;
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
    align-self: flex-end;
    border-radius: 10px 0 10px 10px;
}

.loading-ai {
    display: flex;
    width: 30px;
    animation: spin 2s ease-in-out infinite;
    opacity: 0.9;
}

/* Create animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


