.form-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container2 {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 1300;
        }
    }
    
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.form-div {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:scroll;
    white-space: nowrap;
    scrollbar-width: none;

}

.form-img {
    width: 4%;
    margin: 0px 10px;
}

.form-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--interface-color);
    color: white;
    cursor: pointer;
}
.form-button:hover {
    --interface-color: var(--interface-hover);
}
.form-button > img {
    width: 20px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}





.form-inputs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 600px){
    .form-buttons {
        flex-direction: column;
    }

    .form-inputs {
        grid-template-columns: 1fr;
    }

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-error {
    width: 100%;
    padding: 7px 0px;
    margin: 10px 0;
    font-size: small;
    display: flex;
    justify-content: center;
    color: red;
    background-color: rgb(225, 190, 190);
    border-radius: 4px;
    border: 1px solid red;
}

.form-success {
    width: 100%;
    padding: 7px 0px;
    margin: 10px 0;
    font-size: small;
    display: flex;
    justify-content: center;
    color: var(--interface-color);
    background-color: rgb(193, 225, 190);
    border-radius: 4px;
    border: 1px solid var(--interface-color);
}

.nav-text {
    text-decoration: none;
    font-size: small;
}
.nav-link {
    color: var(--interface-color);
    text-decoration: none;
    cursor: pointer;
}
.nav-link:hover {
    text-decoration: underline;
}

#dollar-form {
    color: rgb(122, 122, 122);
}

.form-switch-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
}

.sendings {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

}


.sending-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    .sending-title {
        font-size: small;
        color: rgb(150, 150, 150)
    }
}

#eth-form {
    overflow: hidden;
    white-space: nowrap;

}