.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 600px;
    gap: 1rem;
}

.user-data-show {
    margin: 4px;
}
#real-price {
    font-weight: 500;
    font-size: medium;
    color: #808080;
}

.twofa-switch {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    align-items: center;

    

}
